.card {
    .card-header {
        img {
            width: 100%;
        }
    }

    .card-body {
        min-height: 300px;
    }

    .btn {
        &:hover {
            color: orange;
        }
    }
}