<h2 class="text-center mt-5">Test Code Javan Solution</h2>
<div class="container mt-3">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Menu" aria-label="Search Menu"
      aria-describedby="basic-addon2" (keyup)="search()" [(ngModel)]="item_search">
    <span class="input-group-text" id="basic-addon2" (click)="search()">Search</span>
  </div>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let item of filteredData">
      <div class="card">
        <img [src]="item?.image" class="card-img-top" alt="..." height="200px">
        <div class="card-body">
          <h5 class="card-title">{{item?.title}}</h5>
          <h6>Ingredients : {{item?.ingredients}} </h6>
          <p class="card-text">
            {{item?.description}}
          </p>
        </div>
        <div class="card-footer text-muted text-center d-grid">
          <button class="btn btn-secondary" expand="block">Pesan</button>
        </div>
      </div>
    </div>
  </div>
</div>